/* home.module.css */

.container {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.pickButtons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pickColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10em;
}

.pickButton {
  margin-bottom: 10px;
}
.extensionButtonWrapper {
  position: relative;
  top: -2.3em;
  left: 3.5em;
}

.pickButtonContainer {
  display: flex;
  align-items: center;
}

.extensionButton {
  margin-left: 10px;
}
